<ul class="sidebar">
    <li class="sidebar-el">
      <a routerLink="" class="">
        <span class="glyphicon glyphicon-envelope"> Home</span>
        </a>
    </li>
    <li class="sidebar-el">
      <a routerLink="users" class="">
      <span class="glyphicon glyphicon-user"> Users</span>
      </a>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-euro"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-glass"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-pencil"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-music"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-search"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-heart"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-user"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-film"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-th-list"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-off"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-trash"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-home"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-file"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-time"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-inbox"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-lock"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-qrcode"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-signal"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-road"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-flag"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-tag"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-bookmark"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-map-marker"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-picture"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-stop"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-gift"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-comment"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-send"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-wrench"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-dashboard"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-pushpin"></span>
    </li>
    <li class="sidebar-el">
      <span class="glyphicon glyphicon-record"></span>
    </li>
</ul>