/* Sidebar */

ul.sidebar{
    list-style: none;width: 100%;margin-top: 0px;display: block;
}
li.sidebar-el{
    padding: 3px 5px; 
    color: aliceblue;font-weight: 600;
    border-bottom: 1px solid lightgray;
    display: block;
}
li.sidebar-el:hover,
li.sidebar-el:focus{
    background-color: rgba(52, 53, 53, 0.651);color: ghostwhite;
    transition: 0.8s;
}
li.sidebar-el > a{
    text-decoration: none;display: block;
}
li.sidebar-el > a{
    font-size: 1.75rem;
    display: block;
    color: ghostwhite;
}
/* li.sidebar-el > a:focus,
li.sidebar-el > a:hover{
    color: rgb(255, 255, 255);
} */

li.sidebar-el > span{
    font-size: 24px;
}
li.sidebar-el-active{
    background-color: rgba(15, 15, 15, 0.493);
}
h4.nav-title{
    padding:4px;margin-top:0;display: block;
    line-height: 30px;
     z-index: 2;background: rgb(105, 206, 236);
    text-transform: capitalize;font-variant: small-caps;
}